<app-usuario-menu></app-usuario-menu>

<div id="loading" class="container" style="display: block;">
	<div class="row">
      <div class="animationload">
            <div class="osahanloading"></div>
      </div>
	</div>
</div>

<div id="usuario" class="jumbotron text-center " style="display: none;">
	<div class="container">
	    <div class="row">
	        <div>
	            <div class="box">
	                <div class="box-icon">
	                    <span class="fa fa-4x fa-user"></span>
	                </div>
	                <div class="info">
	                    <h4 class="text-center">{{usuario.nome}}</h4>
	                    <h5 class="text-center">CPF: {{usuario.cpf}}</h5>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	<br>
  <p>idade: {{usuario.idade}}</p>
  <p>Rua: {{endereco.rua}}</p>
  <p>Numero: {{endereco.numero}}</p>
  <p>Cidade: {{endereco.cidade}}</p>
  <p>Estado: {{endereco.estado}}</p>
  <p>Pais: {{endereco.pais}}</p>
</div>
