<app-mercado-menu></app-mercado-menu>

<div id="loading" class="container" style="display: block;">
	<div class="row">
      <div class="animationload">
            <div class="osahanloading"></div>
      </div>
	</div>
</div>

<div id="produto" class="jumbotron text-center " style="display: none;">
	<div class="container">
			<div class="row">
					<div>
							<div class="box">
									<div class="info">
											<h3 class="text-center">Produtos</h3>
									</div>
							</div>
					</div>
		</div>
	</div>
	<div class="container" style="padding-top:50px;">
	 <div class="row">
		 <div class="col-sm-12">
			 <ul class="list">
				 <li>
					 <div class="quantidade">
						 <span class="title">1</span>
						 <span class="desc">UN</span>
					 </div>
					 <div class="info">
						 <h2 class="title">Independence Day</h2>
						 <p class="desc">United States Holiday</p>
					 </div>
				 </li>
			 </ul>
			</div>
		</div>
	</div>
	<div class="form-group" style="padding-top: 30px;">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5">
				<input type="button" class="form-control btn btn-adicionar" value="Adicionar" (click)="continuar()">
			</div>
		</div>
	</div>
</div>
