<app-home-menu></app-home-menu>

<div class="jumbotron text-center ">
  <div class="row">
    <div class="col-sm-8">
      <h1>Sobre o Sistema</h1>
      <h4>
        O MartSystem é um sistema desenvolvido como forma de estudo na universidade Univel,
        trata-se de um sistema onde os clientes podem realizar compras em mercados pelo Sistema
        e seu pedido é entregue em sua casa, seu backend foi desenvolvido em Java com
        apoio do framework Spring e seu frontend em TypeScript com o framework Angular.
      </h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-shopping-cart logo"></span>
    </div>
  </div>
</div>
