<app-inicio-menu></app-inicio-menu>

<div id="errorCampos" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroCampos()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> preencha todos os campos!
	</div>
</div>

<div id="errorUserName" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroUserName()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> nome de usuario já existe!
	</div>
</div>

<div id="errorIdade" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroIdade()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> idade inválida!
	</div>
</div>

<div id="errorNumero" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroNumero()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> campo "NUMERO" não deve conter letras ou caracteres especiais!
	</div>
</div>

<div id="errorFinal" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroFinal()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> O cadastro não foi concluído!
	</div>
</div>

<div class="jumbotron text-center ">
	<div id="cadastro-inicio" class="container" style="display: block;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<br>
							<div class="col-xs-6">
								<a (click)="ativarMercado()" class="active"  id="mercadoId-link">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									 Mercado
								</a>
							</div>
							<div class="col-xs-6">
								<a (click)="ativarUsuario()"id="usuarioId-link">
									<i class="glyphicon glyphicon-user"></i>
									Usuario
								</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div id="mercadoId" style="display: block;">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nome" [(ngModel)]="mercado.nome">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginAtual.username">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginAtual.senha">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="CNPJ" [(ngModel)]="mercado.cnpj">
									</div>
								</div>
								<div id="usuarioId" style="display: none;">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nome" [(ngModel)]="usuario.nome">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginAtual.username">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginAtual.senha">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="CPF" [(ngModel)]="usuario.cpf">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Idade" [(ngModel)]="idadeUsuario">
									</div>
								</div>
								<div class="form-group" style="padding-top: 30px;">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="button" class="form-control btn btn-login" value="Continuar" (click)="continuar()">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="cadastro-endereco" class="container" style="display: none;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<h3 style="color: #708090">
						<i class="glyphicon glyphicon-map-marker"></i>
						Endereço
					</h3>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="cep" [(ngModel)]="endereco.cep">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="numero" [(ngModel)]="numeroEndereco">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="rua" [(ngModel)]="endereco.rua">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="cidade" [(ngModel)]="endereco.cidade">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="estado" [(ngModel)]="endereco.estado">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="pais" [(ngModel)]="endereco.pais">
									</div>
									<div class="form-group" style="padding-top: 20px;">
										<div class="row ">
											<div class="col-sm-5 col-sm-offset-1" style="padding-bottom:15px;">
												<input type="button" class="form-control btn btn-login" value="Finalizar" (click)="finalizar()">
											</div>
											<div class="col-sm-5" >
												<input type="button" class="form-control btn btn-login" value="Voltar" (click)="voltar()">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
