<app-mercado-menu></app-mercado-menu>

<div id="loading" class="container" style="display: block;">
	<div class="row">
      <div class="animationload">
            <div class="osahanloading"></div>
      </div>
	</div>
</div>

<div id="mercado" class="jumbotron text-center " style="display: none;">
	<div class="container">
			<div class="row">
					<div>
							<div class="box">
									<div class="box-icon">
											<span class="glyphicon fa-4x glyphicon-shopping-cart"></span>
									</div>
									<div class="info">
											<h4 class="text-center">{{mercado.nome}}</h4>
											<h5 class="text-center">CNPJ: {{mercado.cnpj}}</h5>
									</div>
							</div>
					</div>
		</div>
	</div>
	<br>
	<div class="row" style="padding-top:50px">
		<div class="col-sm-2 col-md-offset-1" style="padding-top:25px">
			<div class="endereco" style="padding-bottom: 10px">
				<i class="glyphicon glyphicon-map-marker"></i>
				Endereço
			</div>
		  <p>Rua: {{endereco.rua}}</p>
		  <p>Numero: {{endereco.numero}}</p>
		  <p>Cidade: {{endereco.cidade}}</p>
		  <p>Estado: {{endereco.estado}}</p>
		  <p>Pais: {{endereco.pais}}</p>
		</div>
		<div class="col-md-6 col-md-offset-2">
		 <div style="display: block;" >
		 <canvas baseChart width="400" height="200"
								 [datasets]="lineChartData"
								 [labels]="lineChartLabels"
								 [options]="lineChartOptions"
								 [colors]="lineChartColors"
								 [legend]="lineChartLegend"
								 [chartType]="lineChartType"
								 (chartHover)="chartHovered($event)"
								 (chartClick)="chartClicked($event)"></canvas>
		 </div>
	 </div>
	</div>
	<div class="row" style="padding-top: 100px">
	  <div class="col-md-10 col-md-offset-1" style="margin-bottom: 10px">
	    <table class="table table-responsive table-condensed">
	      <tr>
	        <th *ngFor="let label of lineChartLabels">{{label}}</th>
	      </tr>
	      <tr *ngFor="let d of lineChartData">
	        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
	      </tr>
	    </table>
	    <button (click)="randomize()">CLICK</button>
	  </div>
	</div>
</div>
