.jumbotron {
    padding: 100px 25px;
}
.animationload {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #B0C4DE none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #4682B4 transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
  0% {
      transform: rotate(0deg);
  }
  50% {
      background: #97A8C2 none repeat scroll 0 0;
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
body {padding-top:50px;}

.box {
    background-color: rgba(47, 114, 131, 0.12);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30), 0 2px 10px 0 rgba(0, 0, 0, 0.30);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #2f7283;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Arial';
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.endereco {
  text-decoration: none;
  color: #778899;
  font-weight: bold;
  font-size: 32px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.titulos {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 32px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel {
  margin: 5%;
  background: transparent;
}

tr {
  transition: all 0.5s;
}

tr:hover {
  background-color: #4682B4;
  transition: 0.5s;
}

.map-background {
  height: 100%;
  background: url(assets/map.png) no-repeat center;
  background-size: cover;
  opacity: 0.95;
}

.map{
  height: 100%;
  padding-top: 20px;
  text-align: center;
  width: 20%;
  background-color: rgb(0,10,10,0.8);
  color: #AAAAAA;
  padding-top: 20px;
}
