<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="wrapper jumbotron">
	<div class="container-fluid" align="center" id="body-container-fluid">
		<div class="container">
				<div>
  				<h1 class="display-1"><i class="fa  fa-spin fa-cog fa-3x"></i></h1>
  				<h1 class="display-3">ERRO</h1>
  				<p class="lower-case">Erro!! Página web não encontrada, por favor tente atualizar.</p>
  				<p class="lower-case">Talvez a página esteja em manutenção.</p>
          <div class="form-group" style="padding-top: 40px">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-5">
                <input type="button" class="form-control btn btn-login" value="Inicio" (click)="Inicio()">
              </div>
            </div>
          </div>
				</div>
		</div>
	</div>
</div>
