<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="#">
         MartSystem
      </div>
    </div>

    <div class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: activeRoute('/eventos')}"><a routerLink="eventos">Eventos</a></li>
        <li [ngClass]="{active: activeRoute('/login')}"><a routerLink="login">Login</a></li>
      </ul>
    </div>
  </div>

</nav>
