<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a><span class="glyphicon glyphicon-education logo-nav"></span></a>
      </div>
      <div class="navbar-collapse collapse" [collapse]="!isCollapsed">
        <ul class="nav navbar-nav navbar-right">
           <li [ngClass]="{active: activeRoute('/mercado/:id/produto')}">
            <a href="/mercado/:id/produto" (click)="isCollapsed = !isCollapsed">PRODUTO</a>
          </li>
          <li style="background-color: #101010" [ngClass]="{active: activeRoute('/entrar')}">
            <a (click)="isCollapsed = !isCollapsed; encerrarSessao();">SAIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
