<app-inicio-menu></app-inicio-menu>

<div id="error" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroLogin()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> usuário ou senha inválidos!
	</div>
</div>

<div id="errorTimeout" style="display: none; padding-top: 20px;">
	<div  class="alert alert-danger alert-dismissible" align="center">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="FecharErroLoginTimeout()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Erro!</strong> Não foi possivel conectar com o servidor!
	</div>
</div>

<div class="jumbotron text-center ">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel">
					<div class="panel-heading">
						<h2><i class="glyphicon glyphicon-log-in"></i> Entrar</h2>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-2" >
							</div>
							<div class="col-lg-8 panel-login" >
								<input type="text" class="form-control" align="center" placeholder="Username" [(ngModel)]="loginAtual.username"/>
								<br/>
								<input type="password" class="form-control" align="center" placeholder="Password" [(ngModel)]="loginAtual.senha"/>
								<div style="padding-top: 40px; padding-bottom: 30px;">
									<button type="button" class="btn btn-lg btn-login" (click)="login()">ENVIAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
